.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid white;
}

.big-img
{
    width: 100%;
}

#startgamebutton
{
    font-size: 22px;
    float: left;
    margin: 3%;
}

#Restartbutton
{
    float: right;
    font-size: 22px;
    margin: 3%;
}